<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.distributedTransaction.mapper.CharacteristicMapper">
    <cache/>
    <insert id="addCharacteristic" parameterType="com.example.demo.distributedTransaction.bean.Characteristic">
        insert into characteristic(user_id,personality,mentality,deleted) values(#{userId},#{personality},#{mentality},#{deleted})
    </insert>

    <delete id="removeCharacteristic" parameterType="Integer">
        delete from characteristic where id = #{0}
    </delete>
</mapper>