<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.distributedTransaction.mapper.UserMapper">
    <cache/><!-- 开启一级缓存 -->
    <insert id="addUser" parameterType="com.example.demo.distributedTransaction.bean.User" useGeneratedKeys="true" keyProperty="id">
        insert into user(name, deleted) values(#{name},#{deleted})
    </insert>
    <delete id="removeUser" parameterType="Integer">
        delete from user where id = #{0}
    </delete>

</mapper>